<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jakob Sachs - Personal Site</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              bright_background: "#EBECEC",
              dark_background: "#29332F",
              primary: "#3DCC98",
              primary_dim: "#2C926C",
              text_dark: "#33403B",
            },
          },
        },
      };
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container mx-auto w-11/12">
      <!-- nav bar -->
      <div class="h-12 w-full mb-5 mt-10">
        <div class="flex justify-between my-4">
          <nav
            class="flex flex-row justify-between w-8/12 items-stretch bg-bright_background text-lg border-dark_background border text-center tracking-wide"
          >
            <a
              href="./home.html"
              class="hover:underline w-1/6 py-2 text-primary bg-dark_background"
              >home</a
            >
            <a href="./about.html" class="hover:underline w-1/6 py-2">about</a>
            <a class="hover:underline w-1/6 py-2">index</a>
            <a class="hover:underline w-1/6 py-2">articles</a>
            <a class="hover:underline w-1/6 py-2">things</a>
          </nav>

          <!-- theme toggle button -->
          <div
            class="border border-dark_background bg-primary flex items-center justify-center size-[2.875em] text-dark_background"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-10 fill-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- banner -->
      <div class="flex flex-row">
        <div
          class="w-8/12 mb-10 bg-bright_background border-dark_background border p-9"
        >
          <p class="name-display tracking-tighter text-5xl text-primary">
            Jakob Sachs
          </p>
          <p class="text-3xl tracking-tight text-text_dark">personal site</p>
        </div>

        <div
          class="w-4/12 mb-10 bg-dark_background border-dark_background border p-9"
        >
          <p class="text-bright_background tracking-wide text-xl">
            code & computers<br />
            math & engineering<br />
            some tinkering<br />
          </p>
        </div>
      </div>

      <!-- posts header -->
      <div
        class="flex items-center justify-center bg-dark_background pt-3 w-full border-dark_background border"
      >
        <p class="text-3xl text-bright_background tracking-tight mb-1">
          Recent Postings:
        </p>
      </div>

      <!-- posts -->
      <div
        class="border-dark_background border bg-bright_background h-screen w-7/8 pt-5 px-9"
      >
        <!-- example post 1 -->
        {{range .}}
        <div class="flex flex-row items-center mb-5">
          <div
            class="flex flex-row justify-between w-1/5 items-center tracking-wide"
          >
            <p class="text-xl text-primary_dim">[{{.Type}}]</p>
            <p class="text-xl text-primary_dim">{{.DateStr}}</p>
          </div>
          <a
            class="text-3xl ml-16 italic font-light tracking-tight underline underline-offset-4"
            href="{{.DateStr}}-{{.Title}}.html"
          >
            {{.Title}}
          </a>
        </div>
        {{end}}
      </div>
    </div>
  </body>
  <footer>
    <p class="p-4">© 2024 Jakob Sachs</p>
  </footer>
</html>
