{% extends "base.html" %}

{% block title %} Jakob Sachs - Personal blog {% endblock title %}

{% block content %}
<!-- banner -->
<div class="flex flex-row">
  <div
    class="w-8/12 mb-10 bg-bright_background border-dark_background border p-9"
  >
    <p class="name-display tracking-tighter text-5xl text-primary">
      Jakob Sachs
    </p>
    <p class="text-3xl tracking-tight text-text_dark">personal site</p>
  </div>
  <div
    class="w-4/12 mb-10 bg-dark_background border-dark_background border p-9"
  >
    <p class="text-bright_background tracking-wide text-xl">
      code & computers<br />
      math & engineering<br />
      some tinkering<br />
    </p>
  </div>
</div>


<div class="h-dvh bg-bright_background border-dark_background border p-3">

<h1 class="title text-3xl pb-3">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  <div class="p-6 list-disc">
  {% for page in section.pages %}
      <li><a class="text-2xl underline " href="{{ page.permalink | safe }}"> {{ page.title }}</a>  <span class="float-right">{{ page.date }}</span>   </li>
  {% endfor %}
  </div>
</ul>
</div>
{% endblock content %}
